
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

:root{

    /* ### Primary */

    --oft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
    --Dark-blue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 24%, 46%);

    /* ### Neutral */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --font-fraunces: 'Fraunces', serif;
    --font-barlow: 'Barlow', sans-serif;


}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}

body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*{
    list-style: none;
    text-decoration: none;
    color: inherit;
    
}




.hero-section{
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;

}

.link-items{
    display: flex;
    color: var(--White);
    font-family: var(--font-barlow);
    /* width: 370px; */
}

.item{
    margin-left: 35px;
}

.conatact-item{
    padding: 15px 20px;
    border-radius: 40px;
}

.conatact-item:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


.section-para{
    text-align: center;
    font-size: 50px;
    color: var(--White);
    font-family: var(--font-fraunces);
    font-weight: 700;
    width: 70%;
    margin: 90px auto;
    letter-spacing: 8px;
}

.section-arrow{
    text-align: center;
    font-size: 50px;
}

/* ---------------Discription Sections--------------- */

.mid-section:nth-child(3){
    flex-direction: row-reverse;
}

.mid-section{
    display: flex;
    width: 100%;
}

.discription-side{
    margin-top: 200px;
    margin-left: 120px;
    width: 50%;
    flex: 1;
}

.image{
    width: 50%;
    
}
.discription-side>h1{
    line-height: 28px;
    width: 65%;
    font-size: 33px;
    font-weight: 900;
    font-family: var(--font-fraunces);
    padding-bottom: 40px;
}

.discription-side>p{
    line-height: 30px;
    font-size: 15px;
    color: var(--Grayish-blue);
    font-family: var(--font-barlow);
    width: 65%;
    padding-bottom: 40px;
}
.discription-side>span{
    font-family: var(--font-fraunces);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
}

.discription-side>span::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 7px;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    background-color: var(--Yellow);
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
    z-index: -1;
    
}

.discription-side>span:hover::after{
    transform: scale(1);
    transform-origin: bottom left;
}

/* --------------2  imges-------------- */
.duble-img{
    width: 100%;
}

.duble-img>div{
    flex: 1;
}

.img1, .img2{
    width: 100%;
  
}
.image-position{
    position: relative;
}

.images-description{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.images-description>p{
    text-align: center;
    color: var(--Dark-blue-photography-text);
    font-family: var(--font-barlow);
    font-size: 15px;
    line-height: 22px;


}

.images-description>h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    color: var(--Dark-blue-photography-text);
    font-family: var(--font-fraunces);
}

/* ------------------TESTIMONIALS SECTION------------ */

.testimonials-section{
    width: 100%;
    /* height: 600px; */

}

.testimonials-section>h2{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    font-family: var(--font-fraunces);
    color: var(--Grayish-blue);
    letter-spacing: 5px;
}

.testimonials-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonials-elements{
    width: 400px;
    text-align: center;
    padding-bottom: 150px;
}

.img-per{
    margin-left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}


.img-per img{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    
}

.testimonials-elements>p{
    font-family: var(--font-barlow);
    color: var(--Very-dark-grayish-blue);
    line-height: 22px;
    font-size: 15px;
    width: 60%;
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: 40px;
    padding-bottom: 40px;   
}


.testimonials-elements>span{
    font-family: var(--font-fraunces);
    font-size: 15px;
    position: relative;
}

.emily::after{
    content: 'Marketing Director';
    position: absolute;
    font-size: 11px;
    color: var(--Grayish-blue);
    font-family: var(--font-barlow);
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    padding-top: 20px;
}
.thomas::after{
    content: 'Chief Operating Officer';
    position: absolute;
    font-size: 11px;
    color: var(--Grayish-blue);
    font-family: var(--font-barlow);
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    padding-top: 20px;
}
.jennie::after{
    content: 'Business Owner';
    position: absolute;
    font-size: 11px;
    color: var(--Grayish-blue);
    font-family: var(--font-barlow);
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    padding-top: 20px;
}

/* ------------------------- */
.gallery-images{
    display: flex;
    width: 100%;  
}

.gal-img{
    width: 100%;
}

/* ----------------------------- */

footer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color:var(--Dark-moderate-cyan-footer) ;
}

footer>div{
    padding-top: 50px;
}

.footer-logo{
    color: var(--Dark-desaturated-cyan-graphic-design-text);
}

.link-items-s{
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--Dark-desaturated-cyan-graphic-design-text);
}

.socail-logos{
    display: flex;
}
.socail-logos>li{
    margin-left: 30px;
    padding-bottom: 50px;
    color: var(--Dark-desaturated-cyan-graphic-design-text);
    font-size: 20px;
}








