@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

:root{

    /* ### Primary */

    --oft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
    --Dark-blue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

    /* ### Neutral */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --font-fraunces: 'Fraunces', serif;
    --font-barlow: 'Barlow', sans-serif;

}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}

body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*{
    list-style: none;
    text-decoration: none;
    color: inherit;
}




.hero-section{
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;

}

.link-items{
    display: flex;
    color: var(--White);
    font-family: var(--font-barlow);
    /* width: 370px; */
}

.item{
    margin-left: 35px;
}

.conatact-item{
    padding: 15px 20px;
    border-radius: 40px;
}

.conatact-item:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


.section-para{
    text-align: center;
    font-size: 50px;
    color: var(--White);
    font-family: var(--font-fraunces);
    font-weight: 700;
    width: 70%;
    margin: 90px auto;
    letter-spacing: 8px;
}

.section-arrow{
    text-align: center;
    font-size: 50px;
}
